{% extends 'tracker/layout.html' %}
{% block main %}
{% load static %}

<main>
    <div class="row">


        <div class="column">
        <div class="card">
            <h2>Salary Package</h2>
            <p>₹ 1,00,000 /month</p>
            <p>₹ 12,00,000 /year</p>
        </div>
        </div>


        <div class="column">
        <div class="card">
            <h2>EMI per month</h2>
            <p>₹ 10,000 /month</p>
            <p>₹ 1,20,000 /year</p>
        </div>
        </div>


        <div class="column">
        <div class="card">
            <h2>Net Income After Deduction of EMI</h2>
            <p>₹ 90,000 /month</p>
            <p>₹ 10,80,000 /year</p>
        </div>
        </div>


        <div class="column">
        <div class="card">
            <h2>Package vs EMI</h2>
            <p>
                <img src="/moneytrack+_structure/Pie_init.png" width=100%%>
            </p>
        </div>
        </div>


    </div>

    <br>


    <div class="row">


        <div class="column">
        <div class="card">
            <h2>Daily Transport</h2>
            <p>₹ 5,000 /month</p>
            <p>₹ 60,000 /year</p>
        </div>
        </div>


        <div class="column">
        <div class="card">
            <h2>Food</h2>
            <h3>Groceries</h3>
            <p>₹ 10,000 /month</p>
            <p>₹ 1,20,000 /year</p>
            <h3>Dining</h3>
            <p>₹ 7,000 /month</p>
            <p>₹ 84,000 /year</p>
        </div>
        </div>


        <div class="column">
        <div class="card">
            <h2>Shopping</h2>
            <p>₹ 6,000 /month</p>
            <p>₹ 72,000 /year</p>
        </div>
        </div>


        <div class="column">
        <div class="card">
            <h2>Vacations</h2>
            <p>₹ 2,00,000 </p>
        </div>
        </div>


    </div>



    <br>


    <div class="row">


        <div class="column">
        <div class="card">
            <h2>Medicines</h2>
            <p>₹ 2,000 /month</p>
            <p>₹ 24,000 /year</p>
        </div>
        </div>


        <div class="column">
        <div class="card">
            <h2>Entertainment</h2>
            <p>₹ 3,000 /month</p>
            <p>₹ 36,000 /year</p>
        </div>
        </div>


        <div class="column">
        <div class="card">
            <h2>Others</h2>
            <p>₹ 2,000 /month</p>
            <p>₹ 24,000 /year</p>
        </div>
        </div>


        <div class="column">
        <div class="card">
            <h2>Savings</h2>
            <p>₹ 38,000 /month</p>
            <p>₹ 4,60,000 /year</p>
        </div>
        </div>


    </div>

    <br>

    <center>
        <h2>Donut Representation</h2>
        <img src="/moneytrack+_structure/donut_init.png" width=60%%>
        <br><br>
        <h2>Line Representation</h3>
        <img src="/moneytrack+_structure/line_init.png" width=60%%>
        <br><br>
        <h2>Funnel Representation</h2>
        <img src="/moneytrack+_structure/funnel_init.png" width=60%%>
        <br><br>
    </center>
    


    <h3><b>Passbook</b></h3>
    <iframe width="402" height="346" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=AF02127ED600BCC3%214117&authkey=%21AJFzS1D_dIRw1B0&em=2&AllowTyping=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=true&resen=false&ed1JS=false"></iframe>

</main>

{% endblock %}